<div class="single-info-block">
  <div class="avatar" style='background-image: url(<%= @team.image_url %>)'></div>
  <h4><%= @team.full_name %></h4>
  <p><em>(<%= @team.abbreviation %>)</em></p>
  <p><%= @team.conference %></p>
  <p><%= @team.division %></p>
  <p><%= @team.site_name %></p> 
  <p><%= @team.city %>,<%= @team.state %></p>       
</div>