<h1> <%= @game["home_team"]["full_name"]%> Period Scores : </h1>
<%= @game["home_period_scores"] %>&nbsp;<strong><%= @home_sum %></strong>
<br>


<h1> <%= @game["away_team"]["full_name"] %> Period Scores : </h1>
<%= @game["away_period_scores"] %>&nbsp;<strong><%= @away_sum %></strong>
<br>


<h3> Batter Totals :</h3>
<table class="table table-hover">

	<th> Category </th>
	<th> <%= @game["home_team"]["full_name"] %> </th>
	<th> <%= @game["away_team"]["full_name"] %> </th>
	<% @game["home_batter_totals"].each do |key, value| %> 
	  <tr>
	  		<td> <%= ( key.slice(0,1).capitalize + key.slice(1..-1) ).gsub( "_", " " ) %> </td>
	  		<td> <%= value %> </td>
	  		<td> <%= @game["away_batter_totals"][key] %>
	  </tr>
	<% end %>

</table>

<%= form_for @comment do |f| %>  


    <div class="form-group">                                                                                                                                                       
      <strong><%= f.label :comment %> </strong>                                                                                                                         
      <%= f.text_area :comment, class: 'form-control' %>                                                                                                                           
    </div>                                                                                                                                                                         
                                                                                                                                                                       
                                                                                                                                                                                                                                                                                                                                                                     
<%= f.hidden_field :game_id , :value => params[:id]  %>                                                                                                                      
    <%= f.submit class: 'btn btn-primary' %>   

 <% end %>     

<hr>
<% unless @comments.empty? %>                                                                                                                                                      
                                                                                                                                                                               
    <h4><strong>Comments:</strong></h4> 
    <hr>
    <br>                                                                                                                                                                           
    <% @comments.each do |comment|%>                                                                                                                                               
<strong><%= User.find(comment.user_id).firstname %>&nbsp; , <%=comment.created_at.to_formatted_s(:short) %>&nbsp&nbsp:</strong> 
    <em><%= comment.comment %></em>                                                                 
    <br>                                                                                                                                                                           
    <hr>                                                                                                                                                                           
    <% end %>                                                                                                                                                                      
                                                                                                                                                                                   
<% end %>  